* {
    list-style: none;
}

.head {
    height: 52px;
    background-color: rgba(0, 0, 0, 0.8);
}

.Navigation {
    width: 1240px;
    height: inherit;
    /* background-color: aqua; */
    margin: 0 auto;
}

.Navigation ul {
    display: flex;
    justify-content: flex-end;
    line-height: 51px;
    font-size: 14px;
}

.Navigation ul li a {
    border-right: 1px solid rgb(102, 100, 100);
    padding: 0 15px;
    color: white;
}

.header {
    /* background-color: aqua; */
    display: flex;
}

.wrapper {
    margin: 0 auto;
    margin-top: 23px;
    width: 1240px;
    /* height: 88px; */
}

.logo {
    width: 200px;
    height: 88px;
    /* background-color: aquamarine; */
    margin-right: 47px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-right: 47px;
}

.nav ul li a {
    line-height: 88px;
    /* font-size: 14px; */
}

.search {
    display: flex;
    margin-top: 33px;
    margin-right: 45px;
    margin-left: 20px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #F4F4F4;
}

.search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}

.aa {
    font-size: 15px;
    background-color: rgb(233, 232, 231);
    color: white;
}

.bb {
    background-color: rgb(0, 190, 154);
    color: white;
}

.cart {
    position: relative;
    margin-top: 30px;
}

.cc {
    position: relative;
    bottom: -28px;
}

.cart span {
    position: absolute;
    top: -1px;
    right: -11px;
    padding: 0 6px;
    height: 15px;
    background-color: #E26237;
    font-size: 14px;
    color: #F4F4F4;
    line-height: 16px;
    border-radius: 10px;
}

.cart .iconfont {
    font-size: 30px;
}

.banner {
    height: 500px;
    background-color: rgb(238, 238, 240);
    position: relative;
    margin-top: 20px;
}

.wuhu {
    width: 1240px;
    margin: 0 auto;
}

.wuhu ul {
    position: absolute;
    top: 0;
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
}

.wuhu ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 10px; */
    margin-right: 10px;
    height: 50px;
    width: 250px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 12px;
}

.wuhu ul li a:nth-child(1) {
    margin-left: 30px;
    margin-right: 15px;
}

.wuhu ul li a:nth-child(2),
.wuhu ul li a:nth-child(3) {
    margin-right: 10px;
    font-size: 14px;
}

.wuhu ul li a,
.wuhu ul li span {
    display: inline;
    color: white;
}

.wuhu ul li span {
    margin-right: 10px;
}

.wuhu ul li a:nth-child(1) {
    margin-left: 15px;
}

.wuhu ul li:hover {
    background-color: rgb(0, 190, 154);
    position: relative;
    /* left: -10px; */
}

.good {
    width: 1240px;
    height: 500px;
    /* background-color: aqua; */
    margin: 0 auto;
}

.title {
    height: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: rgb(167, 141, 141); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    display: inline-block;
}

.title span {
    margin-left: 20px;
    color: rgb(180, 178, 178);
}

.commodity {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.commodity img {
    width: 305px;
}

.commodity-box {
    width: 305px;
    height: 405px;
    background-color: rgb(238, 249, 244);
}

.commodity p:nth-child(1) {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.commodity p:nth-child(2) {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
    color: rgb(170, 33, 19);
}

.commodity-box2 {
    background-color: white;
    font-size: 16px;
}

.commodity-box2 p:nth-child(2) {
    color: rgb(161, 161, 161);
    font-size: 1rem;
}

.Popular {
    margin-top: 40px;
    height: 470px;
    background-color: rgb(238, 238, 240);
}

.Popular-box {
    width: 1240px;
    margin: 0 auto;
}

.a img {
    width: 244px;
}

.fresh {
    width: 1240px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.nav li a {
    padding-bottom: 10px;
}

.nav li a:hover {
    color: rgb(0, 190, 154);
    border-bottom: 2px solid rgb(0, 190, 154);
}

.title-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-right ul {
    margin-right: 50px;
}

.title-right ul li {
    float: left;
    margin-right: 20px;
}

.xm {
    height: 610px;
    margin: 0 auto;
    /* background-color: rgb(147, 179, 172);*/
}

.xm-left {
    float: left;
    width: 248px;
}

.xm-right {
    box-sizing: border-box;
    float: right;
    width: 960px;
    height: inherit;
    /* background-color: aqua; */
}

.xm-right ul {
    display: flex;
    flex-wrap: wrap;
}

.ab {
    width: 200px;
    height: 180px;
}

.xm-right ul li {
    position: relative;
    padding: 10px 21px 0;
    width: 240px;
    height: 305px;
    /* background-color: rgb(218, 218, 226); */
    box-sizing: border-box;
    /* background-color: blue; */
    border: 2px solid transparent;
    overflow: hidden;
}
.xm-right ul li:hover .hov {
    bottom: 0;
}

.xm-right ul li:hover {
    border: 2px solid green;
}

.hov {
    width: 240px;
    height: 80px;
    background-color: rgb(0, 190, 154);
    position: absolute;
    left: 0;
    bottom: -90px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hov p:first-child {
    text-align: center;
    color: white;
    width: 100px;
    height: 30px;
    box-shadow: 0 1px 0.5px rgba(209, 207, 207, 0.5);
}

.hov p:last-child {
    color: white;
}

.kl img {
    width: 405px;
}

#zhez {
    position: relative;
}

.Mask {
    position: absolute;
    bottom: 0;
    width: 405px;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(137, 137, 137, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mle p:last-child {
    text-align: left;
}

/* .kl p:last-child {
    color: white;
} */

.kl p:nth-child(1) {
    margin-top: 1px;
    font-size: 20px;
    text-align: center;
}

.kl p:nth-child(2) {
    color: white;
}

.mle p {
    color: white;
}

.mri {
    width: 80px;
    background-color: white;
    text-align: left;
    /* height: 30px; */
}

.mri p {
    color: rgb(178, 33, 80);
}

.tb-left {
    width: 140px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
    padding-left: 10px;
}

.tb-right {
    padding-right: 10px;
}

.tb-left p:first-child {
    padding-top: 4px;
}

.tb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 580px;
    background-color: rgb(245, 245, 245);
}

.ft {
    height: 180px;
    width: 1240px;
    margin: 0 auto;
    /* background-color: aqua; */
    border-bottom: 1px solid rgb(202, 201, 199);
}

.ft-box1 ul {
    width: 1240px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.ft-box1 ul li {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-box1 ul li p {
    padding-left: 20px;
    font-size: 25px;
}

.ft-box1 h1 {
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
}

.ft-box1 li:nth-child(2) h1 {
    background-position: 0 -58px;
}

.bottom {
    width: 1240px;
    height: 300px;
    /* background-color: aqua; */
    margin: 0 auto;
}

.b-left {
    padding-top: 50px;
}

.b-left dl {
    padding-right: 69px;
}

.b-left dt {
    font-size: 20px;
    /* font-weight: 500; */
    margin-bottom: 30px;
}

.b-left dd a {
    margin-top: 10px;
    color: rgb(177, 171, 171);
}

.b-left dd {
    margin-top: 10px;
}

.bottom {
    display: flex;
}

.b-left {
    display: flex;
}

.b-right {
    margin-left: 20px;
    padding-top: 50px;
    width: 320px;
    display: flex;
    justify-content: space-between
}

.er {
    width: 120px;
    height: 120px;
}

.ewm {
    text-align: center;
}

.ewm p {
    color: rgb(177, 171, 171);
}

.ba {
    text-align: center;
}

.ba a {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(177, 171, 171);
}

.ba p {
    color: rgb(177, 171, 171);
}

.ba p:last-child {
    margin-top: 10px;
}

.wuhu ol {
    width: 75px;
    height: 50px;
    position: absolute;
    /* background-color: rgba(14, 13, 13, 0.5); */
    bottom: 0;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wuhu ol li {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.wuhu ol li:first-child {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.wuhu ol li i {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 16px;
    height: 15px;
    background-color: rgb(248, 245, 245);
    border-radius: 50%;
}

.wuhu {
    position: relative;
}